/*1. 구조*/

   .lgn-card,.rgs-card
   {
      /*박스 모델 설계 및 크기 조정*/
      width: 58%;
      min-height: 350px;
      margin: 50px auto;
      padding: 40px;
      border: 3.5px solid #715A5A;
      /*디테일*/
      border-radius: 15px;
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
      background: linear-gradient(45deg, gray, white);

      /*로그인 요소 중앙 정렬*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .btn-group 
   {
      /*버튼 그룹 가로 정렬*/
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-top: 20px;
   }

   body 
   {  color: #D3DAD9;
      background: linear-gradient(90deg,#313037,#666674);
   }

/*2. 텍스트, 글꼴*/

   h1,h2,h3 
   {
      text-align: center;
      color: White;
   }


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
   h1 
   {
      /*구글 폰트 - Open Sans*/
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight:300;
      font-style:normal;
      font-variation-settings:
         "wdth" 100;
   }

/*3. 상호작용 기능*/

   /* Liquid Glass STYLE
   Source By: https://freefrontend.com/css-liquid-glass/#google_vignette
   AI 활용됨.
   */

   input,
   textarea
   {

      /* 크기 및 텍스트 */
      width: 100%;
      padding: 14px 20px;
      color: #fff;
      font-size: 16px;

      /*유리 요소*/
      background: rgba(255,255,255,.12);
      border: 1px solid rgba(255,255,255,.25);
      border-radius: 999px;
      backdrop-filter: blur(12px); /*배경 블러*/
      -webkit-backdrop-filter: blur(12px);
      box-shadow:
         inset 0 1px 0 rgba(255,255,255,.45), /*inset(내부) 그림자  : 상단 광택 표현*/
         inset 0 -1px 0 rgba(255,255,255,.12),
         0 8px 20px rgba(0,0,0,.10);

   
      outline: none; /* 기본 포커스 외곽선 제거 -> 포커스 커스텀 가능 */   
      transition: .2s; /* 상태 변화 부드럽게 */
}

   /*Liquid Style Hover, Focus*/
   input:hover,
   textarea:hover,
   input:focus,
   textarea:focus 
   {
      background: rgba(255,255,255,.18);
      border-color: rgba(255,255,255,.4);
      box-shadow:
         inset 0 1px 0 rgba(255,255,255,.45),
         0 10px 24px rgba(0,0,0,.15);
   }

   input::placeholder,
   textarea::placeholder
   {
      color: rgba(255,255,255,.85);
   }
      
   button
   {
      margin-top: 20px;
      padding: 10px 30px;
      border-style: none;
      border-radius: 8px;
      border-color: white;
      color:white;
      background-color: #000000;
      transition:transform 0.3s ease;
   }

   button:hover 
   {
      /*버튼 호버링 모션*/
      color: white;
      background: #267ce6;
      box-shadow: 5px 5px 10px #5f5f5f;
      transform:translateY(-2px);
   }

   button:active
   {  
      color: #000000;
      background: white;
   }

   /*전체 색상 기본 Source: https://colorhunt.co/palette/37353e44444e715a5ad3dad9*/