{% extends 'base.html' %}

{% block content %}
   <h1>WVL</h1>
   <h3 style="text-align: center;">WVL은 웹 사이트 환경에서 일어나는 다양한 보안 취약점을 알아보고<br>Lab 환경과 비슷한 환경에서 실험해 볼 수 있는 웹 사이트입니다. </h3>
   <form action="/login" method="post"> <!-- /login 주소에서 입력한 내용을 POST 형식으로 넘김. -->
      아이디:<br>
      <input type="text" name ="username" placeholder="아이디 입력">
      <br>
      비밀번호: <br>
      <input type="password" name = "password" placeholder="비밀번호 입력">
      <br>
      <button type="submit">로그인</button>
   </form>
   <br>
   <form action="/register">
      <button>회원가입</button>
   </form>
{% endblock %}


