{% extends 'base.html' %}

{% block content %}
  <h2>{{ post[1] }}</h2>
  <p>작성자: {{ post[3] }}</p>
  <pre>{{ post[2]|safe }}</pre>
  <!--pre: 서식 지정 텍스트, HTML 작성 내용 그대로 표현-->
  <!--|safe: 원래 문법에선 자동 Escape 처리로 HTML로 내보내지 않는데, safe시 Escape를 무시--> 
  <!--(Stored) XSS 취약 코드. 입력값을 HTML로 반환함. -> JS 문법도 실행 가능-->
  <!--<pre>{{ post[2] }}</pre> 안전한 코드 예시--> 
  
  <br>
  <button onclick="location.href='/posts'">게시글 목록</button>
  <button onclick="location.href='/posts/{{ post[0] }}/edit'">게시글 수정</button>
  <button onclick="location.href='/posts/{{ post[0] }}/delete'">게시글 삭제</button>
{% endblock %}